<section class="carousel">
    <div class="l-container">
      <div class="h2 carousel--title">{{ title }}</div>
      <div class="h5 carousel--subtitle">{{ subtitle }}</div>
    </div>
    <div class="carousel--items">
      <ng-template ngFor let-item [ngForOf]="items" let-i="index">
        <app-card
          [link]="item.link"
          [url]="item.url"
          [number]="item.number"
          [role]="item.role"
          [headline]="item.headline"
          [description]="item.description"
        ></app-card>
      </ng-template>
    </div>
</section>
