<div class="case-study--subtitle h5">Design</div>
<div class="case-study--cells">
  <div class="case-study--cell">
    Description
  </div>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <ng-template ngFor let-item [ngForOf]="styleguide" let-i="index">
        <img class="case-study--gallery-img" src="{{ item.url }}" alt="">
      </ng-template>
    </div>
  </div>
</div>
<div class="case-study--cells">
  <div class="case-study--cell">
    Description
  </div>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <ng-template ngFor let-item [ngForOf]="styleguide" let-i="index">
        <img class="case-study--gallery-img" src="{{ item.url }}" alt="">
      </ng-template>
    </div>
  </div>
</div>
<div class="case-study--cells">
  <div class="case-study--cell">
    Description
  </div>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <ng-template ngFor let-item [ngForOf]="styleguide" let-i="index">
        <img class="case-study--gallery-img" src="{{ item.url }}" alt="">
      </ng-template>
    </div>
  </div>
</div>
<div class="case-study--subtitle h5">Development</div>
