<ul class="case-study">
  <li class="case-study--item">
    <app-text-paragraph
      [title]="introductionTitle"
      [introduction]="introductionCaption"
      [paragraphTitle]="introductionSubtitle"
      [description]="introductionDescription"
    ></app-text-paragraph>
  </li>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <ng-template ngFor let-card [ngForOf]="cards" let-i="index">
        <app-card
          [url]="card.url"
          [captitionTitle]="card.captitionTitle"
          [captitionDescription]="card.captitionDescription"
          cardDescription=true
          class="case-study--gallery--first-step"
        ></app-card>
      </ng-template>
    </div>
  </div>
  <li class="case-study--item">
    <app-text-paragraph
      [title]="mainTitle"
      [introduction]="mainIntroduction"
      [paragraphTitle]="mainParagraphTitle"
      [description]="mainDescription"
    ></app-text-paragraph>
  </li>
  <div class="case-study--cell">
    <li class="case-study--item">
      <app-text-paragraph
        [subtitle]="coreSubtitle"
        [introduction]="coreIntroduction"
        [paragraphTitle]="coreParagraphTitle"
        [description]="coreDescription"
      ></app-text-paragraph>
    </li>
  </div>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <ng-template ngFor let-item [ngForOf]="items" let-i="index">
        <app-card
          [url]="item.url"
          class="case-study--gallery--second-step"
        ></app-card>
      </ng-template>
    </div>
  </div>
  <app-playground-headline-code title="{{ blockCode }}"></app-playground-headline-code>
</ul>
