<ul class="case-study">
  <ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <li class="case-study--item">
      <app-text-paragraph
        [title]="item.title"
        [subtitle]="item.subtitle"
        [introduction]="item.introduction"
        [concept]="item.concept"
        [description]="item.description"
      ></app-text-paragraph>
    </li>
  </ng-template>
  <div class="case-study--cell">
    <div class="case-study--gallery">
      <!-- <ng-template ngFor let-image [ngForOf]="item.image" let-i="image">
        <img class="case-study--gallery-img" src="{{ image.url }}" alt="">
      </ng-template> -->
      <ng-template ngFor let-card [ngForOf]="cards" let-i="index">
        <app-card
          [link]="card.link"
          [url]="card.url"
          [number]="card.number"
          [role]="card.role"
          [headline]="card.headline"
          cardDescription=true
          class="case-study--gallery--first-step"
        ></app-card>
      </ng-template>
    </div>
  </div>
</ul>
