<ng-template ngFor let-item [ngForOf]="items" let-i="index">
  <div class="card">
    <a href="{{ item.link }}" class="card--link" target="_blank">
      <img src="{{ item.url }}" class="card--img">
      <div div class="card--content l-container--big">
        <div class="card--claim">
          <div class="card--number">{{ item.number }}</div>
          <div class="card--role h3">{{ item.role }}</div>
          <div class="card--company-container">
              <div class="card--company-info h5">
                  <div class="card--company-name">{{ item.agency }}</div>
                  <div class="card--employment-date">{{ item.years }}</div>
              </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</ng-template>
