<div class="footer--addr">
  <div class="footer--identity">
    <div class="footer--logo">
      -logo-
    </div>
    <div class="footer--identity-name">
      Sabrina Fiore
    </div>
  </div>
  <div class="footer--contact">Contact</div>
  <address>
    <a class="footer--btn" href="mailto:example@gmail.com"> sabrinafiore1992@gmail.com</a>
  </address>
</div>

<ul class="footer--social">
  <div class="footer--social-info">
    <div class="footer--social-title h3">Media</div>
    <ul class="footer--social-items">
      <li class="footer--social-item">
        <a class="footer--social-link" href="#">Instagram</a>
      </li>
      <li class="footer--social-item">
        <a class="footer--social-link" href="#">LinkedIn</a>
      </li>
      <li class="footer--social-item">
        <a class="footer--social-link" href="#">Github</a>
      </li>
    </ul>
  </div>
</ul>

<div class="footer--extra">
  <div class="footer--extra-title h3">Technology</div>
  <ul class="footer--extra-items">
    <li class="footer--extra-item">
      <a class="footer--extra-link" href="#">Hardware Design</a>
    </li>
    <li class="footer--extra-item">
      <a class="footer--extra-link" href="#">Software Design</a>
    </li>
    <li class="footer--extra-item">
      <a class="footer--extra-link" href="#">Digital Signage</a>
    </li>
    <li class="footer--extra-item">
      <a class="footer--extra-link" href="#">Automation</a>
    </li>
  </ul>
</div>
