<div class="l-container--extra-big" #photoGallery>
	<div class="photo-gallery">
		<div class="photo-gallery--box" #photoGalleryBox>    
			<!-- <li class="photo-gallery--item photoGalleryImage" *ngFor="let img of (allImages)">    
				<img src="{{img.url}}" class="photo-gallery--item-img">    
			</li> -->
			<ul class="photo-gallery--items">
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img01.jpg" class="photo-gallery--item-img" alt="image01" #imageOne/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								21
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img02.jpg" class="photo-gallery--item-img" alt="image02" #imageSecond/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								Flower
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img03.jpg" class="photo-gallery--item-img" alt="image03" #imageThird/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								Flower
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item" >
					<img src="../../../assets/images/img04.jpg" class="photo-gallery--item-img" alt="image04" #imageFourt/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								Flower
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item" >
					<img src="../../../assets/images/img05.jpg" class="photo-gallery--item-img" alt="image05" #imageFift/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								ciao
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img06.jpg" class="photo-gallery--item-img" alt="image06" #imageSixth/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								Glossary
							</div>
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img07.jpg" class="photo-gallery--item-img" alt="image07" #imageSeventh/>
					<div class="photo-gallery--item-info">
						<div class="box">
							<div class="photo-gallery--item-info--tile">
								title
							</div>
							<div class="photo-gallery--item-info--description">
								hola
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div> 
	</div>
</div>
