<div class="l-container--extra-big" #photoGallery>
  <!-- should be a loop, but gsap library don't acept Angular loop yet -->
	<div class="photo-gallery">
		<div class="photo-gallery--box" #photoGalleryBox>
			<ul class="photo-gallery--items">
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img01.jpg" class="photo-gallery--item-img" alt="image01" #imageOne/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							A nice thought.
						</div>
						<div class="photo-gallery--item-info--description">
							Tenerife 2019
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img02.jpg" class="photo-gallery--item-img" alt="image02" #imageSecond/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							A friend of mine.
						</div>
						<div class="photo-gallery--item-info--description">
							My Hometown 2015
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img03.jpg" class="photo-gallery--item-img" alt="image03" #imageThird/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							Just, raining in a wonderful place.
						</div>
						<div class="photo-gallery--item-info--description">
							Porto 2020
						</div>
					</div>
				</li>
				<li class="photo-gallery--item" >
					<img src="../../../assets/images/img04.jpg" class="photo-gallery--item-img" alt="image04" #imageFourt/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							Behind you.
						</div>
						<div class="photo-gallery--item-info--description">
							2016
						</div>
					</div>
				</li>
				<li class="photo-gallery--item" >
					<img src="../../../assets/images/img05.jpg" class="photo-gallery--item-img" alt="image05" #imageFift/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							The sun kisses us.
						</div>
						<div class="photo-gallery--item-info--description">
							Puglia 2018
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img06.jpg" class="photo-gallery--item-img" alt="image06" #imageSixth/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							Art.
						</div>
						<div class="photo-gallery--item-info--description">
							London 2019
						</div>
					</div>
				</li>
				<li class="photo-gallery--item">
					<img src="../../../assets/images/img07.jpg" class="photo-gallery--item-img" alt="image07" #imageSeventh/>
					<div class="photo-gallery--item-info">
						<div class="photo-gallery--item-info--tile">
							Your perspective.
						</div>
						<div class="photo-gallery--item-info--description">
							Mallorca 2018.
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
