/* Cards */

.cards {
  align-items: center;
  display: grid;
  grid-gap: calc(100px / 4);
  grid-template-columns: repeat(1, 400px);
  margin: $unit-spacing $unit-spacing*2;
  scroll-snap-type: x proximity;
  white-space: unset;

  @include breakpoints(break-x-small) {
    margin: $unit-spacing*2 $unit-spacing*2 $unit-spacing*2;
  }
}

.card {
  text-align: center;
  position: relative;
  transition: width 2s;

  @include breakpoints(break-x-small) {
    margin-bottom: $unit-spacing;
  }

  &--link {
    &:link, &:visited, &:hover, &:active {
      color: unset;
      text-decoration: unset;
    }

    &::after {
      bottom: 0;
      background-image: linear-gradient(to bottom, #95b5fd 0%, #980e00 100%);
      content: " ";
      display: inline-block;
      left: 0;
      height: 500px;
      opacity: 0.8;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      @include breakpoints(break-x-small) {
        height: 200px;
      }
    }
  }

  &--img {
    display: inline-block;
    height: 500px;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    position: relative;
    width: 100%;

    @include breakpoints(break-x-small) {
      height: 200px;
    }
  }

  &--claim {
    left: 50%;
    padding: $unit-spacing*2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
  }

  &--number,
  &--role,
  &--container {
    color: $c-white-darker--1;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
  }

  &--number {
    font-family: $typography-primary-regular;
  }

  &--role {
    font-family: $typography-primary-regular;
    font-weight: 600;
  }

  &--container {
    font-family: $typography-secondary-regular;
    line-height: $unit-spacing-1;
  }
}

.case-study--gallery {
  .case-study--gallery--first-step.cards {
    grid-template-columns: repeat(1, 900px);

    &:first-child {
      margin-left: unset;
    }
  }

  .card {
    &--link {
      &::after {
        background-image: linear-gradient(to bottom, #cbc8af40 0%, #00251dab 100%);
      }
    }
  }
}
