/* Case studies */

.case-studies {
  background-color: $c-white--1;
	margin-bottom: $unit-spacing*2;
  padding: $unit-spacing*3;
}

.case-study {
  &--cell {
    margin: $unit-spacing 0 $unit-spacing*2;
    font-family: $typography-secondary-regular;

    @include breakpoints(break-medium) {
      width: 100%;
    }
  }

  &--gallery {
    display: flex;
    height: auto;
    overflow-x: auto;
  }

  &--gallery-img {
    height: auto;
    max-width: 650px;
    padding-right: $unit-spacing--1;
    position: relative;
    width: 100%;
  }
}

.case-study--gallery {
  .case-study--gallery--first-step.cards {
    grid-gap: calc(100px / 4);
    grid-template-columns: repeat(2, 550px);

    &:first-child {
      margin-left: unset;
    }
  }

  .card {
    &--link {
      &::after {
        background-image: linear-gradient(to bottom, #cbc8af40 0%, #a2a18f 100%);
        opacity: unset;
      }
    }

    &--captition-title {
      font-family: $typography-third-regular;
      font-weight: 500;
    }

    &--number,
    &--role,
    &--container {
      color: $c-darker-gray;
      font-family: $typography-third-regular;
      font-weight: 500;
    }
  }

  .case-study--gallery--second-step.cards {
    grid-gap: calc(100px / 4);
    grid-template-columns: repeat(1, 550px);

    &:first-child {
      margin-left: unset;
    }
  }

  .card {
    &--link {
      &::after {
        background-image: unset;
        opacity: unset;
      }
    }

    &--img {
      opacity: unset;
      object-fit: fill;
    }

    &--captition-title {
      font-family: $typography-third-regular;
      font-weight: 500;
    }

    &--number,
    &--role,
    &--container {
      color: $c-darker-gray;
      font-family: $typography-third-regular;
      font-weight: 500;
    }
  }
}
