/* Header */

.header {
    background-color: $c-dark-gray;
    padding: $unit-spacing--2 0;
    box-shadow: 0px 1px 2px $c-black;

    &__box {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-family: $typography-primary-regular;
        justify-content: space-between;
        max-width: $s960;
        padding: 0 $unit-spacing--1;

        @include breakpoints(break-x-small) { 
            display: block;
            text-align: center;
        }
    }

    &__content {
        display: flex;

        @include breakpoints(break-x-small) { 
            display: block; 
            text-align: center;
        }
    }
    
    &__logo {
        align-items: center;
        display: flex;

        @include breakpoints(break-x-small) { 
            display: block;
            text-align: center;
        }

        &--naming {
            color: $c-white;
            font-family: $typography-primary-regular;
            font-weight: lighter;
            font-size: $unit-spacing;
            line-height: 22px;
            padding-left: $unit-spacing--2;

            @include breakpoints(break-x-small) { 
                display: none;
            }
        }
    }

    &__items {
        color: $c-white;
        font-family: $typography-body-regular;
        font-size: $unit-spacing--1;
        padding-left: $unit-spacing;
    }
}
