/* Main */

.main {
  position: relative;
  background-color: $c-white-darker;

  &__photo {
    width: 100%;
    max-width: 2048px;
    object-fit: cover;
    height: calc(100vh - 3rem);
    filter: brightness(90%);
  }

  &__information {
    position: absolute;
    color: $c-white-darker;
    padding: $unit-spacing $unit-spacing $unit-spacing $unit-spacing*3;
    top: 50%;
    transform: translateY(-50%);
    max-width: 550px;
    width: 100%;

    @include breakpoints(break-x-small) {
      font-size: var(--h3);
    }

    @include breakpoints(break-medium) {
      padding: $unit-spacing;
    }
  }
}
