/* Main */

.main {
  position: relative;
  background-color: $c-white-darker;

  &--photo {
    filter: brightness(90%);
    height: calc(100vh - 3rem);
    max-width: 2048px;
    object-fit: cover;
    width: 100%;

    &-background {
      background-color: rgb(158, 144, 126);
      height: calc(100vh - 3rem);
      max-width: 2048px;
      width: 100%;
    }
  }

  &--content-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--claim {
    color: $c-white-darker;
    padding: $unit-spacing $unit-spacing $unit-spacing $unit-spacing*3;
    max-width: 600px;
    width: 100%;

    @include breakpoints(break-x-small) {
      font-size: var(--h3);
    }

    @include breakpoints(break-medium) {
      padding: $unit-spacing;
    }
  }

  &--claim-description {
    padding-left: $unit-spacing*3;
    color: $c-white-darker;
    max-width: 600px;
    width: 100%;
    font-family: $typography-secondary-regular;

    @include breakpoints(break-medium) {
      padding: $unit-spacing;
    }
  }
}

.main--photo-case-study {
  .main--photo {
    filter: brightness(80%);
  }
}

.main--photo-gallery {
  .main--photo {
    background-color: antiquewhite;
  }
}
