/* Paragraph */

.paragraph {
  &--item {
    &:nth-child(even) {
      .paragraph--cells {
        flex-direction: row-reverse;
      }
    }
  }

  &--cells {
    display: block;

    @include breakpoints(break-medium) {
      display: block;
    }
  }

  &--title,
  &--subtitle {
    color: $c-dark-gray;
    font-family: $typography-third-regular;
    font-weight: 400;
  }

  &--subtitle-info {
    color: $c-dark-gray;
    font-family: $typography-secondary-regular;
    padding-top: $unit-spacing;
  }

  &--case {
    color: $c-dark-gray;
    font-family: $typography-secondary-regular;
    line-height: 26px;

    &-paragraphTitle {
      font-family: $typography-third-regular;
      font-weight: 400;
      padding: $unit-spacing 0;
    }
  }
}
