/* Photo-gallery */

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  visibility: hidden;
}

#photos {
	// line-height: 0;
	// column-count: 3;
	// -webkit-column-count: 3;
	// -moz-column-count: 3;
	// column-gap: 10px;
	// -moz-column-gap: 10px;
	// -webkit-column-gap: 10px;
}

.photo-gallery {
	padding: $unit-spacing*3 0;
}
 
.photo-gallery--item-img {
	width: 100%;
	height: auto;
	padding: $unit-spacing*2;
}

.photo-gallery--items {
	grid-row: 4 / 4;
	display: grid;
	grid-template: repeat(2, 330px) / repeat(4, 1fr);
	grid-gap: 20px;
}

.photo-gallery--item {
	display: flex;
	align-items: center;
}
 
@include breakpoints(break-xx-large) {
	#photos {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}

@include breakpoints(break-medium) {
	#photos {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}

@include breakpoints(break-x-medium) {
	#photos {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}

@include breakpoints(break-x-small) {
	#photos {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}
