/* Photo-gallery */

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  visibility: hidden;
}

.photo-gallery {
	background-color: $c-white-darker;
	margin-bottom: $unit-spacing*2;
	padding: $unit-spacing*3 0;

	&--box {
		display: flex;
		justify-content: center;
		position: relative;
	}
	
	&--item {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;

		&-img {
			opacity: 0.9;
		}

		&:nth-child(odd) {
			.photo-gallery--item-img {
				width: 1000px;
				height: 600px;
				object-fit: cover;
			}
		}
		
		&:nth-child(even) {
			display: block;
			position: relative;

			.photo-gallery--item-img { 				
				width: 800px;
				height: 600px;
				object-fit: cover;
			}
		}

		&-info {
			left: 0;
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			-ms-transform: translateY(-50%);
			background-color: $c-white;
			padding: $unit-spacing*2;
		}

		&-info--tile {
			font-family: $typography-secondary-regular;
			font-size: $unit-spacing;
			font-weight: 500;
		}

		&-info--description {
			font-family: $typography-primary-regular;
			font-size: $unit-spacing--1;
			font-weight: normal;
		}
	}

   	&--item-img {
	   width: 100%;
	   height: auto;
	   padding: $unit-spacing*2;
   	}
}


 
@include breakpoints(break-xx-large) {
	.photo-gallery--item-img {
		width: 100%;
		height: auto;
		max-width: 1000px;
	}
}

@include breakpoints(break-medium) {
	#photos {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}

@include breakpoints(break-x-medium) {
	#photos {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}

@include breakpoints(break-x-small) {
	#photos {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}
