/*Scroll-down*/

.scroll-down {
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    padding-bottom: 1.5rem;
    position: absolute;
    right: 0;

    &--content {
        text-align: center;
    }

    &--text {
        color: $c-dark-gray;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: $c-dark-gray;
}
