/*Scroll-down*/

.scroll-down {
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  padding-bottom: $unit-spacing*2;
  position: absolute;
  right: 0;

  @include breakpoints(break-x-medium) {
    padding-bottom: $unit-spacing*4;
  }

  &--content {
    text-align: center;
  }

  &--text {
    color: $c-white-darker;
  }
}

.icon {
  padding-top: $unit-spacing--2;
}
