<div class="l-container--big">
  <div class="paragraph--title h3">{{ title }}</div>
  <div class="paragraph--subtitle h4">{{ subtitle }}</div>
  <div class="paragraph--subtitle-info">{{ info }}</div>
  <div class="paragraph--cell">
    <div class="paragraph--case">
      {{ introduction }}
      <div class="paragraph--case-paragraphTitle h4">
        {{ paragraphTitle }}
      </div>
      <div class="paragraph--case-description">
        {{ description }}
      </div>
    </div>
  </div>
</div>
