/* Card-section */

.card--section {
  background-color: $c-white-darker;

  &--title {
    color: $c-dark-gray;

    @include breakpoints(break-medium) {
      padding: $unit-spacing*2;
    }
  }
}

/* Cards */
.cards {
  align-items: center;
  display: grid;
  height: calc(100vh - 3rem);
  grid-gap: calc(100px / 2);
  grid-template-columns: repeat(10, 400px);
  margin: 0 $unit-spacing*2;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  white-space: unset;

  @include breakpoints(break-x-small) {
    display: block;
  }
}

/* Card-l */

.card-l {
  background-color: $c-white-darker--1;
  text-align: center;

  @include breakpoints(break-x-small) {
    margin-bottom: $unit-spacing;
  }

  &--content {
    padding: $unit-spacing*2;
  }

  &--number,
  &--role,
  &--company-container {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
  }
}
