/* Card-section */

.card--section {
    height: calc(100vh - 3rem);
    background-color: $c-white-darker;

    &--title {
        color: $c-dark-gray;

        @include breakpoints(break-x-small) { 
            padding: 0 $unit-spacing*2;
        }
    }
}

/* Card-l */

.card-l {
    background-color: $c-white-darker;
    text-align: center;
    
    &:after {
        content: '';
        width: 100%;
        display: block;
        position: relative;
        box-shadow: 0px 0px 0px 1px rgb(0,0,0, 0.56);
    }
    
    &--content {
        padding: $unit-spacing*2;
    }

    &--number,
    &--role,
    &--company-container {
        display: flex;
        justify-content: center;
        padding: 0 1rem;
    }
}
